<% include _header %>

<h2>My favorits</h2>
<div style="height: 600px; width: 1100px; overflow: auto;">
	<table style="table-layout: fixed;" class="table table-striped">
		<thead>
			<tr>
				<th scope="row" style="width: 50px;">Num</th>
				<th style="width: 650px;">Title</th>
				<th style="width: 100px;">Writer</th>
				<th style="width: 250px;">Date</th>
			</tr>
		</thead>
		<tbody>
			<% if (contents.length > 0) { %>
                <% for (var i = 0; i < contents.length; i++) { %>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><a href="/nodvel/<%= contents[i].title %>"><%= contents[i].title %></a></td>
                        <td><%= contents[i].developer %></td>
                        <td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= contents[i].date %></td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td colspan="6">No contents</td>
                </tr>
            <% } %>
			</tbody>
	</table>
</div>
<br>

<% include _footer %>