<% include _header %>

<h1><%= contents.title %></h1>
<hr>
<h3>Writed by <%= contents.writer %></h3>
<br>
<h3>Genre : <%= contents.genre %></h3>
<br>
<h3>Preview of story</h3>
<div style="white-space: pre; width: 400px; height: 40px;"><%= contents.story %></div>
<br>
<hr>
<% if(contents.ended) { %> 
    <% if(user.username === contents.writer) { %>
        <form action="/nodvel/<%= contents.title %>" method="post">
            <select name="rewrite" style="display: none;">
                <option value="rewrite" selected>rewrite</option>
            </select>
            <input type="submit" class="btn btn-primary" style="float: right;" value="Rewrite this Nodvel">
        </form>
    <% } %>
    <% if(user.like.length > 0) { %>
        <% let count = false %>
        <% for(let i = 0; i < user.like.length; i++) { %>
            <% if(user.like[i].title === contents.title) { %>
                <form action="/nodvel/<%= contents.title %>" method="post">
                    <select name="cancellike" style="display: none;">
                        <option value="cancellike" selected>cancellike</option>
                    </select>
                    <input type="submit" class="btn btn-primary" style="float: left;" value="Cancel like">
                </form>
                <% count = true %> 
                <% break %>
            <% } %>
        <% } %>    
        <% if(!count) { %>
            <form action="/nodvel/<%= contents.title %>" method="post">
                <select name="like" style="display: none;">
                    <option value="like" selected>like</option>
                </select>
                <input type="submit" class="btn btn-primary" style="float: left;" value="Give like">
            </form>
        <% } %>
    <% } else { %>
        <form action="/nodvel/<%= contents.title %>" method="post">
            <select name="like" style="display: none;">
                <option value="like" selected>like</option>
            </select>
            <input type="submit" class="btn btn-primary" style="float: left;" value="Give like">
        </form>
    <% } %>
    <a href="/nodvel/<%= contents.title %>/1/1" class="btn btn-default" style="width: 1100px; height: 30px;"><h1>Start Nodvel!</h1></a>
    <br>
    <br>
    <br>
    <% include _move %>
    <hr>
    <br>
    <h3>Comments</h3>
    <p>How was this Nodvel?</p>
    <br>
    <% if (contents.comment.length > 0) { %>
        <% contents.comment.forEach(function(item) { %>
            <div>
                <div><%= item.name %> / <%= item.date %></div>
                <div><%= item.memo %></div>
                <hr>
                </div>
        <% }) %>
    <% } else { %>
        <div><h4>There's no comment yet.</h4></div>
    <% } %>
    <br>
    <form action="/nodvel/<%= contents.title %>" method="post">
        <input id="comment" autocomplete="off" type="text" class="form-control" placeholder="Comment" name="comment" style="width: 900px; float: left;">
        <input type="submit" value="Comment" class="btn btn-info" style="float: left;">
    </form>
    <br>
<% } else { %>
    <a href="/writenodvel/rewrite/<%= contents.title %>" style="float: left;" class="btn btn-primary">Change simple info</a>
    <form action="/nodvel/<%= contents.title %>" method="post">
        <select name="end" style="display: none;">
            <option value="end" selected>end</option>
        </select>
        <input type="submit" class="btn btn-primary" style="float: right; border:" value="Finish writing">
    </form>
    <a href="/writenodvel/<%= contents.title %>/1/1" class="btn btn-default" style="width: 1100px; height: 30px;"><h1>Go to write Nodvel</h1></a>
    <br>
    <br>
    <br>
    <br>
    <% include _move %>
<% } %>

<% include _footer %>
