<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nodvel</title>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
        * {
                margin: 0px;
                padding: 0px;
                border: 0px;
        }
        #choice {
                font-size: 1em;
                position: absolute;
                z-index: 4;
                left: 300px;
                border: 20px;
                width: 600px;
                height: 100px;
        }
        #character {
                top: 220px;
                position: absolute;
                z-index: 2;
        }
        #text {
                border: 20px;
                font-size: 1em;
                position: absolute; 
                z-index: 3;
                width: 900px;
                height: 200px;
                left: 150px;
                top: 630px;
        }
    </style>
</head>
<body>
<div class="container" style="position: relative; overflow: hidden; width: 100%; height: 100%;"> 
    <% if(pagecontents.background) { %>
        <img src="<%= pagecontents.background %>" style="position: absolute; z-index: 1; top: 0px; left: 0px; width: 1200px; height: 980px;">
    <% } else { %>
        <div style="position: absolute; z-index: 1; top: 0px; left: 0px; width: 100%; height: 100%; background-color: black;"></div>
    <% } %>
    <% if(pagecontents.character.length > 0) { %>
        <% if(pagecontents.character.length === 1) { %>
                <img id="character" src="<%= pagecontents.character[0].path %>" style="left: 450px; ">
        <% } %>
        <% if(pagecontents.character.length === 2) { %>
                <img id="character" src="<%= pagecontents.character[0].path %>" style="left: 300px;">
                <img id="character" src="<%= pagecontents.character[1].path %>" style="left: 600px;">
        <% } %>
        <% if(pagecontents.character.length === 3) { %>
                <img id="character" src="<%= pagecontents.character[0].path %>" style="left: 150px;">
                <img id="character" src="<%= pagecontents.character[1].path %>" style="left: 450px;">
                <img id="character" src="<%= pagecontents.character[2].path %>" style="left: 750px;">
        <% } %>
        <% if(pagecontents.character.length === 4) { %>
                <img id="character" src="<%= pagecontents.character[0].path %>" style="left: 0px;">
                <img id="character" src="<%= pagecontents.character[1].path %>" style="left: 300px;">
                <img id="character" src="<%= pagecontents.character[2].path %>" style="left: 600px;">
                <img id="character" src="<%= pagecontents.character[3].path %>" style="left: 900px;">
        <% } %>
    <% } %>
    <% if(pagecontents.choice.length > 0) { %>
        <% if(pagecontents.choice.length === 1) { %>
            <div id="choice" style="top: 390px;">
                <%= pagecontents.choice[0] %>
            </div>
        <% } %>
        <% if(pagecontents.choice.length === 2) { %>
            <div id="choice" style="top: 220px;">
                <%= pagecontents.choice[0] %>
            </div>
            <div id="choice" style="top: 420px">
                <%= pagecontents.choice[1] %>
            </div>
        <% } %>
        <% if(pagecontents.choice.length === 3) { %>
            <div id="choice" style="top: 100px">
                <%= pagecontents.choice[0] %>
            </div>
            <div id="choice" style="top: 300px">
                <%= pagecontents.choice[1] %>
            </div>
            <div id="choice" style="top: 500px">
                <%= pagecontents.choice[2] %>
            </div>
        <% } %>
        <% if(pagecontents.choice.length === 4) { %>
            <div id="choice" style="top: 50px">
                <%= pagecontents.choice[0] %>
            </div>
            <div id="choice" style="top: 250px">
                <%= pagecontents.choice[1] %>
            </div>
            <div id="choice" style="top: 450px">
                <%= pagecontents.choice[2] %>
            </div>
            <div id="choice" style="top: 650px">
                <%= pagecontents.choice[3] %>
            </div>
        <% } %>
    <% } %>
    <% if(pagecontents.text) { %>
        <div id="text">
            <%= pagecontents.text %>
        </div>
    <% } %>
</div>
<div class="container">
    <hr>
    <a href="/nodvel/<%= title %>/<%= prevDivergence %>/<%= prevPage %>" style="float: left;">Prev</a>
    <a href="/nodvel/<%= title %>/<%= pagecontents.nextDivergence %>/<%= pagecontents.nextPage %>" style="float: right;">Next</a>
    <hr>
    <form method="post" action="/nodvel/save/<% title %>/<% pagecontents.divergence %>/<% pagecontents.page %>">
        <select name="save" style="display: none;">
            <option value="save" selected>save</option>
        </select>
        <input type="submit" value="save" style="float: right;" class="btn btn-default">
    </form>
    <a href="/nodvel/<%= contents.title %>" style="float: left;" class="btn btn default">Main page</a>
</div>
</body>
</html>
