<% include _showHeader %>

<div style="position: relative; overflow: hidden; width: 1110px; height: 700px; z-index: 1;"> 
    <% if(pagecontents.background.name) { %>
        <img src="<%= pagecontents.background.path %>" width="auto;" height="700px">
    <% } else { %>
        <div style="width: 1200px; height: 980px; background-color: black;"></div>
    <% } %>
    <% if(pagecontents.character.length > 0) { %>
        <% if(pagecontents.character.length === 1) { %>
            <div style="position: absolute; top: 100px; left: 425px; overflow: hidden; width: 250px; height: 500px; z-index: 2;">
                <img src="<%= pagecontents.character[0].path %>" style="left: 550px" width="auto" height="500px">
            </div>
        <% } %>
        <% if(pagecontents.character.length === 2) { %>
            <div style="position: absolute; top: 100px; left: 200px; overflow: hidden; width: 250px; height: 500px; z-index: 2;">
                <img src="<%= pagecontents.character[0].path %>" width="auto" height="500px">
            </div>
            <div style="position: absolute; top: 100px; right: 200px; overflow: hidden; width: 250px; height: 500px; z-index: 2;">
                <img src="<%= pagecontents.character[1].path %>" width="auto" height="500px">
            </div>
        <% } %>
        <% if(pagecontents.character.length === 3) { %>
            <div style="position: absolute; top: 100px; left: 100px; overflow: hidden; width: 250px; height: 500px; z-index: 2;">
                <img src="<%= pagecontents.character[0].path %>" width="auto" height="500px">
            </div>
            <div style="position: absolute; top: 100px; right: 425px; overflow: hidden; width: 250px; height: 500px; z-index: 2;">
                <img src="<%= pagecontents.character[1].path %>" width="auto" height="500px">
            </div>
            <div style="position: absolute; top: 100px; right: 100px; overflow: hidden; width: 250px; height: 500px; z-index: 2;">
                <img src="<%= pagecontents.character[2].path %>" width="auto" height="500px">
            </div>
        <% } %>
        <% if(pagecontents.character.length === 4) { %>
            <div style="position: absolute; top: 100px; left: 20px; overflow: hidden; width: 250px; height: 500px; z-index: 2;">
                <img src="<%= pagecontents.character[0].path %>" width="auto" height="500px">
            </div>
            <div style="position: absolute; top: 100px; left: 295px; overflow: hidden; width: 250px; height: 500px; z-index: 2;">
                <img src="<%= pagecontents.character[1].path %>" width="auto" height="500px">
            </div>
            <div style="position: absolute; top: 100px; right: 295px; overflow: hidden; width: 250px; height: 500px; z-index: 2;">
                <img src="<%= pagecontents.character[2].path %>" width="auto" height="500px">
            </div>
            <div style="position: absolute; top: 100px; right: 20px; overflow: hidden; width: 250px; height: 500px; z-index: 2;">
                <img src="<%= pagecontents.character[3].path %>" width="auto" height="500px">
            </div>
        <% } %>
    <% } %>
</div>
<% if(pagecontents.choice.length > 0) { %>
    <% if(pagecontents.choice.length === 1) { %>
        <div id="choice" style="top: 390px;">
            <a href="/nodvel/<%= title %>/<%= pagecontents.choice[0].nextDivergence %>/<%= pagecontents.choice[0].nextPage %>"><%= pagecontents.choice[0].text %></a>
        </div>
    <% } %>
    <% if(pagecontents.choice.length === 2) { %>
        <div id="choice" style="top: 220px;">
            <a href="/nodvel/<%= title %>/<%= pagecontents.choice[0].nextDivergence %>/<%= pagecontents.choice[0].nextPage %>"><%= pagecontents.choice[0].text %></a>
        </div>
        <div id="choice" style="top: 420px">
            <a href="/nodvel/<%= title %>/<%= pagecontents.choice[1].nextDivergence %>/<%= pagecontents.choice[1].nextPage %>"><%= pagecontents.choice[1].text %></a>
        </div>
    <% } %>
    <% if(pagecontents.choice.length === 3) { %>
        <div id="choice" style="top: 100px">
            <a href="/nodvel/<%= title %>/<%= pagecontents.choice[0].nextDivergence %>/<%= pagecontents.choice[0].nextPage %>"><%= pagecontents.choice[0].text %></a>
        </div>
        <div id="choice" style="top: 300px">
            <a href="/nodvel/<%= title %>/<%= pagecontents.choice[1].nextDivergence %>/<%= pagecontents.choice[1].nextPage %>"><%= pagecontents.choice[1].text %></a>
        </div>
        <div id="choice" style="top: 500px">
            <a href="/nodvel/<%= title %>/<%= pagecontents.choice[2].nextDivergence %>/<%= pagecontents.choice[2].nextPage %>"><%= pagecontents.choice[2].text %></a>
        </div>
    <% } %>
    <% if(pagecontents.choice.length === 4) { %>
        <div id="choice" style="top: 50px">
            <a href="/nodvel/<%= title %>/<%= pagecontents.choice[0].nextDivergence %>/<%= pagecontents.choice[0].nextPage %>"><%= pagecontents.choice[0].text %></a>
        </div>
        <div id="choice" style="top: 250px">
            <a href="/nodvel/<%= title %>/<%= pagecontents.choice[1].nextDivergence %>/<%= pagecontents.choice[1].nextPage %>"><%= pagecontents.choice[1].text %></a>
        </div>
        <div id="choice" style="top: 450px">
            <a href="/nodvel/<%= title %>/<%= pagecontents.choice[2].nextDivergence %>/<%= pagecontents.choice[2].nextPage %>"><%= pagecontents.choice[2].text %></a>
        </div>
        <div id="choice" style="top: 650px">
            <a href="/nodvel/<%= title %>/<%= pagecontents.choice[3].nextDivergence %>/<%= pagecontents.choice[3].nextPage %>"><%= pagecontents.choice[3].text %></a>
        </div>
    <% } %>
<% } %>
<% if(pagecontents.text) { %>
    <div>
        <%= pagecontents.text %>
    </div>
<% } %>
<div>
    <% if(prev.length > 0) { %>
        <form method="post" action="/nodvel/prev/<%= title %>">
            <select name="prev" style="float: left;" class >
                <% prev.forEach(function(item) { %>
                    <option value="/nodvel/<%= title %>/<%= item.divergence %>/<%= item.page %>">Divergence: <%= item.divergence %> Page: <%= item.page %></option>
                <% }) %>
            </select>
            <input type="submit" value="Prev" style="float: left;" class="btn btn-info">
        </form>
    <% } %>
    <% if(pagecontents.nextDivergence && pagecontents.nextPage) { %>
        <a href="/nodvel/<%= title %>/<%= pagecontents.nextDivergence %>/<%= pagecontents.nextPage %>" class="btn btn-primary" style="float: right;">Next</a>
    <% } %>
    <form method="post" action="/nodvel/save/<%= title %>/<%= pagecontents.divergence %>/<%= pagecontents.page %>">
        <select name="save" style="display: none;">
            <option value="save" selected>save</option>
        </select>
        <input type="submit" value="save" style="float: right;" class="btn btn-info">
    </form>
    <a href="/nodvel/<%= title %>" style="float: left;" class="btn btn-primary">Main page</a>
</div>

<% include _footer %>