<% include _header %>

<h2>Most liked Nodvel</h2>
<br>
<h3>Top ten Nodvel that most liked from people.</h3>
<hr>
<br>
<% if(genre) { %>
	<h3><%= genre %> story</h3>
<% } %>
<div>
	<table style="table-layout: fixed;" class="table table-striped">
		<thead>
			<tr>
				<th scope="row" style="width: 50px;">Num</th>
				<th style="width: 450px;">Title</th>
				<th style="width: 100px;">Writer</th>
				<th style="width: 250px;">Date</th>
				<th>Genre</th>
				<th>Like</th>
			</tr>
		</thead>
		<tbody>
			<% if(contents.length > 0) {%>
				<% var i = 0 %>
				<% contents.forEach(function(item) { %>
				<% i++ %>
				<tr>
					<th scope="row"><%= i %></th>
					<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><a href="/nodvel/<%= item.title %>"><%= item.title %></a></td>
					<td><%= item.writer %></td>
					<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= item.date %></td>
					<td><%= item.genre %></td>
					<td><%= item.like %></td>
				</tr>
				<% }) %>
			<% } else { %>
				<tr>
					<td colspan="6">No contents</td>
				</tr>
			<% } %>
		</tbody>
	</table>
</div>
<br>
<h3>Top ten Nodvel of each Genre</h3>
<div>
    <table>
        <tr>
            <th style="width: 154px; text-align: center;"><a style="color: crimson;" href="/topten/Romance">Romance</a></th>
            <th style="width: 154px; text-align: center;"><a style="color: crimson;" href="/topten/Horror">Horror</a></th>
            <th style="width: 154px; text-align: center;"><a style="color: crimson;" href="/topten/Fantasy">Fantasy</a></th>
            <th style="width: 154px; text-align: center;"><a style="color: crimson;" href="/topten/SF">SF</a></th>
            <th style="width: 154px; text-align: center;"><a style="color: crimson;" href="/topten/Thriller">Thriller</a></th>
			<th style="width: 154px; text-align: center;"><a style="color: crimson;" href="/topten/Historical">Historical</a></th>
			<th style="width: 154px; text-align: center;"><a style="color: crimson;" href="/topten/General">General</a></th>
        </tr>
    </table>
</div>
<br>

<% include _footer %>
