<% include _header %>

<h2>Most liked Nodvel</h2>
<div style="height: 600px; width: 1100px; overflow: auto;">
	<table style="table-layout: fixed;" class="table table-striped">
		<thead>
			<tr>
				<th scope="row" style="width: 50px;">Num</th>
				<th style="width: 450px;">Title</th>
				<th style="width: 100px;">Writer</th>
				<th style="width: 250px;">Date</th>
				<th>Genre</th>
				<th>Like</th>
			</tr>
		</thead>
		<tbody>
			<% if(contents.length > 0) {%>
				<% var i = 0 %>
				<% contents.forEach(function(item) { %>
				<% i++ %>
				<tr>
					<th scope="row"><%= i %></th>
					<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><a href="/nodvel/<%= item.title %>"><%= item.title %></a></td>
					<td><%= item.writer %></td>
					<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= item.date %></td>
					<td><%= item.genre %></td>
					<td><%= item.like %></td>
				</tr>
				<% }) %>
			<% } else { %>
				<tr>
					<td colspan="6">No contents</td>
				</tr>
			<% } %>
			</tbody>
	</table>
</div>
<br>
<h3>Each Genre</h3>
<div>
    <table>
        <tr>
            <th><a href="/topten/romance">Romance</a></th>
            <th><a href="/topten/horror">Horror</a></th>
            <th><a href="/topten/fantasy">Fantasy</a></th>
            <th><a href="/topten/sf">SF</a></th>
            <th><a href="/topten/thriller">Thriller</a></th>
	    <th><a href="/topten/historical">Historical</a></th>
	    <th><a href="/topten/general">General</a></th>
        </tr>
    </table>
</div>
<br>

<% include _footer %>
