<% include _header %>

<h2>Upload character image</h2>
<form action="/writenodvel/upload/<%= contents.title %>" method="post" enctype="multipart/form-data">
    <select name="character" style="display: none;">
        <option value="character" selected>character</option>
    </select>
    <input type="file" name="file" class="filestyle" accept=".jpeg, .jpg, .png" style="float: left;" required>
    <input type="submit" class="btn btn-info" style="float: left;">
</form>
<br>
<hr>
<h3>Uploaded character</h3>
<ul>
<% if(contents.characterImgs.length > 0) { %>
    <% contents.characterImgs.forEach(function(item) { %>
        <li><%= item.name %><a href="/writenodvel/upload/character/delete/<%= contents.title %>/<%= item.name %>" style="color: red;" class="btn btn-info">Delete</a></li>
    <% }) %>
<% } else { %>
    <p>There's no image yet.</p>
<% } %>
</ul>
<br>
<hr>
<h2>Upload background image</h2>
<form action="/writenodvel/upload/<%= contents.title %>" method="post" enctype="multipart/form-data">
    <select name="background" style="display: none;">
        <option value="background" selected>background</option>
    </select>
    <input type="file" name="file" class="filestyle" accept=".jpeg, .jpg, .png" style="float: left;" required>
    <input type="submit" class="btn btn-info" style="float: left;">
</form>
<br>
<hr>
<h3>Uploaded background</h3>
<ul>
<% if(contents.backgroundImgs.length > 0) { %>
    <% contents.backgroundImgs.forEach(function(item) { %>
        <li><%= item.name %><a href="/writenodvel/upload/background/delete/<%= contents.title %>/<%= item.name %>" style="color: red;" class="btn btn-info">Delete</a></li>
    <% }) %>
<% } else { %>
    <p>There's no image yet.</p>
<% } %>
</ul>
<br>
<a href="/writenodvel/<%= contents.title %>/1/1" class="btn btn-primary">Go to write</a>
<br>
<br>
<hr>

<% include _move %>

<% include _footer %>
