<% include _header %>

<% if(!pagecontents.nextDivergence || !pagecontents.nextPage) { %>
    <% if(pagecontents.choice.length == 0) { %>
        <h1 style="color: red;">Warning! There's no path to next scene!</h1>
        <br>
    <% } %>    
<% } %>
<% if(!linked) { %>
    <h1 style="color: red;">Warning! There's any scene that linked to this page!</h1>
    <br>
<% } %>
<h1 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= contents.title %></h1>
<h2>Divergence - <%= pagecontents.divergence %></h2>
<h2>Page - <%= pagecontents.page %></h2>
<% if(pagecontents.nextDivergence) { %>
    <h2>Next divergence - <%= pagecontents.nextDivergence %></h2>
<% } else { %>
    <h2>Next divergence - There's no next divergence</h2>
<% } %>
<% if(pagecontents.nextPage) { %>
    <h2>Next page - <%= pagecontents.nextPage %></h2>
<% } else { %>
    <h2>Next page - There's no next page</h2>
<% } %>
<br>
<hr>
<h2>Text</h2>
<hr>
<% if(pagecontents.text) { %>
    <p><%= pagecontents.text %></p>
    <hr>
<% } else { %>
    <p>No text in this scene</p>
    <hr>
<% } %>
<h2>Choice</h2>
<hr>
<% if(pagecontents.choice.length > 0) { %>
    <% pagecontents.choice.forEach(function(item) { %>
        <p>Text - <a href="/writenodvel/<%= contents.title %>/<%= item.nextDivergence %>/<%= item.nextPage %>"><%= item.text %></a></p>
        <p>Next divergence - <%= item.nextDivergence %></p>
        <p>Next page - <%= item.nextPage %></p>
        <hr>
    <% }) %>
<% } else { %>
    <a>No choice in this scene</a>
    <hr>
<% } %>
<h2>Characters</h2>
<hr>
<% if(pagecontents.character.length > 0) { %>
    <% pagecontents.character.forEach(function(item) { %>
        <div style="overflow: hidden; width: 300px; height: 500px;">
            <img src="<%= item.path %>" width="auto" height="500px"/>
        </div>
    <% }) %>
    <hr>
<% } else { %>
    <p>No character in this scene</p>
    <hr>
<% } %>
<h2>Background</h2>
<hr>
<% if(pagecontents.background.name) { %>
    <div style="overflow: hidden; width: 500px; height: 300px;">
        <img src="<%= pagecontents.background.path %>" width="500px" height="auto"/>
    </div>
    <hr>
<% } else { %>
    <p>No background in this scene</p>
    <hr>
<% } %>
<h2>MEMO</h2>
<hr>
<% if(pagecontents.memo) { %>
    <p><%= pagecontents.memo %></p>
<% } else { %>
    <p>No memo in this scene</p>
<% } %>
<hr>
<br>
<% if(pagecontents.nextDivergence && pagecontents.nextPage) { %>
    <a href="/writenodvel/<%= contents.title %>/<%= pagecontents.nextDivergence %>/<%= pagecontents.nextPage %>" class="btn btn-info">Go to next scene</a>
<% } %>
<a href="/writenodvel/<%= contents.title %>/<%= pagecontents.divergence %>/<%= (pagecontents.page + 1) %>" class="btn btn-primary" style="float: right;">Page + 1</a>
<% if(pagecontents.page - 1 !== 0) { %>
    <a href="/writenodvel/<%= contents.title %>/<%= pagecontents.divergence %>/<%= (pagecontents.page - 1) %>" class="btn btn-primary" style="float: left;">Page - 1</a>
<% } %>
<br>
<br>
<hr>
<a href="/writenodvel/rewrite/<%= contents.title %>/<%= pagecontents.divergence %>/<%= pagecontents.page %>" class="btn btn-primary" style="float: left;">Rewrite</a>
<a href="/writenodvel/delete/<%= contents.title %>/<%= pagecontents.divergence %>/<%= pagecontents.page %>" class="btn btn-info" style="float: left; color: red;">Delete</a>
<a href="/nodvel/<%= contents.title %>" style="float: right;" class="btn btn-primary">Main page</a>
<a href="/writenodvel/upload/<%= contents.title %>" class="btn btn-info" style="float: right;">Upload</a> 
<br>
<br>
<br>

<% include _move %>

<% include _footer %>